# Protege diretórios sensíveis
RedirectMatch 403 ^/controllers/.*$
RedirectMatch 403 ^/models/.*$
RedirectMatch 403 ^/views/.*$
RedirectMatch 403 ^/config.php$
RedirectMatch 403 ^/Database.php$
RedirectMatch 403 ^/Flash.php$
RedirectMatch 403 ^/functions.php$
RedirectMatch 403 ^/routes.php$
RedirectMatch 403 ^/shelf.php$
RedirectMatch 403 ^/Validations.php$